<div class="jumbotron jumbo">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">Join us for secure and guided tours to the nothern areas of Pakistan.Pakistan is one of the most beautiful countris in the world.
  It has all kinds of mountain ranges and beautiful forests to make us praise nature.</p>
  <hr class="my-4">
  <p></p>
</div>
