<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="home.css">
    <meta charset="utf-8">
    <script src="bootstrap.js" charset="utf-8"></script>
    <script src="popper.min.js" charset="utf-8"></script>
    <script src="jquery.min.js" charset="utf-8"></script>
    <title>Travel Agency</title>
  </head>
  <body>
    <%include partials/signup_navbar%>

    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2">
      </div>
      <div class="col-xl-10 col-lg-10 col-md-8 col-sm-8 main-body">
        <h1>Admin Panel</h1>
        <div class="container">
          <div class="list-group">
            <a href="/addtour" class="list-group-item list-group-item-action adminlinks">Add tour</a>
            <a href="/displayTours" class="list-group-item list-group-item-action adminlinks">View tours</a>
            <a href="#" class="list-group-item list-group-item-action adminlinks">Porta ac consectetur ac</a>
          </div>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2">
      </div>
    </div>



    <script src="bootstrap.js" charset="utf-8"></script>
    <script src="popper.min.js" charset="utf-8"></script>
    <script src="jquery.min.js" charset="utf-8"></script>
  </body>
</html>
