<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="home.css">
    <meta charset="utf-8">
    <script src="bootstrap.js" charset="utf-8"></script>
    <script src="popper.min.js" charset="utf-8"></script>
    <script src="jquery.min.js" charset="utf-8"></script>
    <title>Travel Agency</title>
  </head>
  <body>
    <%include partials/signup_navbar%>

    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2">
      </div>
      <div class="col-xl-10 col-lg-10 col-md-8 col-sm-8 ">
        <div class="container">
          <p></p>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 main-body">
      </div>
      <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 main-body">
        <h1>Sign Up</h1>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
      </div>
    </div>

    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 main-body">
        <%include partials/signup_form%>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
      </div>
    </div>





    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 main-body">
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
      </div>
    </div>


    <script src="bootstrap.js" charset="utf-8"></script>
    <script src="popper.min.js" charset="utf-8"></script>
    <script src="jquery.min.js" charset="utf-8"></script>
  </body>
</html>
