<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="home.css">
    <meta charset="utf-8">
    <script src="bootstrap.js" charset="utf-8"></script>
    <script src="popper.min.js" charset="utf-8"></script>
    <script src="jquery.min.js" charset="utf-8"></script>
    <title>Travel Agency</title>
  </head>
  <body>
    <script src="bootstrap.js" charset="utf-8"></script>
    <script src="popper.min.js" charset="utf-8"></script>
    <script src="jquery.min.js" charset="utf-8"></script>
  </body>
</html>
